---
layout: default
---
<article {% if page.feature-img or page.color %}class="feature-image" {% endif %}>
  <header id="main" style="">
    <div class="title-padder">
      {% if page.hide_title %}
      <div class="feature-image-padding"></div>
      {% else %}
      <h1 id="{{ page.title | cgi_escape }}" class="title">{{ page.title }}</h1>
      {% include blog/post_info.liquid author=page.author date=page.date %}
      {% endif %}
    </div>
  </header>

  <section class="post-content">
    <div class="toc">
      <a href="#">&lt;GO TO TOP&gt;</a>
      {% include toc.html html=content %}
    </div>
    {% if page.bootstrap %}
    <div class="bootstrap-iso">
      {% endif %}
      {{ content }}
      {% if page.bootstrap %}
    </div>
    {% endif %}
  </section>

  <!-- Social media shares -->
  {% include social/share_buttons.liquid %}

  <!-- Tag list -->
  {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
  {% include default/tags_list.liquid tags=tag_list %}

</article>

<!-- Post navigation -->
{% if site.post_navigation or site.theme_settings.post_navigation %}
{% include blog/post_nav.liquid %}
{% endif %}

<!--Utterances-->
{% if site.comments.utterances.repo and site.comments.utterances.issue-term %} {% include social/utterances.liquid %} {%
endif %}

<!-- Cusdis -->
{% if site.comments.cusdis_app_id or site.cusdis_app_id %}{% include social/cusdis.liquid %}{% endif %}

<!-- Disqus -->
{% if site.comments.disqus_shortname or site.theme_settings.disqus_shortname or site.disqus_shortname %}
{% include social/disqus.liquid %}{% endif %}


<!-- TOC script -->
<script>
  function getTOCNodes(master) {
    var nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0);
    var tocNodes = nodes.filter(function (elem) {
      return elem.tagName == "A";
    });
    return tocNodes;
  }
  function getHeaderNodes(master) {
    var nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0);
    var headerNodes = nodes.filter(function (elem) {
      return elem.tagName == "H1" || elem.tagName == "H2" || elem.tagName == "H3" || elem.tagName == "H4" || elem.tagName == "H5" || elem.tagName == "H6";
    });
    return headerNodes;
  }

  var title = document.getElementsByClassName("title-padder")[0];
  var titleY = window.pageYOffset + title.getBoundingClientRect().top;

  var article = document.getElementsByClassName("post-content")[0];
  var articleY = window.pageYOffset + article.getBoundingClientRect().top;
  var articleX = window.pageXOffset + article.getBoundingClientRect().right;


  var toc = document.getElementsByClassName("toc")[0];


  var headerNodes = getHeaderNodes(article);
  var tocNodes = getTOCNodes(toc);

  var before = undefined;

  window.addEventListener('resize', function (e) {
    if (article.getBoundingClientRect().right >= toc.getBoundingClientRect().left) {
      toc.style.visibility = "hidden";
    } else {
      toc.style.visibility = "visible";
    }
  });

  document.addEventListener('scroll', function (e) {
    if (window.scrollY >= articleY - 60) {
      toc.style.cssText = "position: fixed; top: 60px;";
    }
    else {
      toc.style.cssText = "";
    }

    var current = headerNodes.filter(function (header) {
      var headerY = window.pageYOffset + header.getBoundingClientRect().top;
      return window.scrollY >= headerY - 60;
    });

    if (current.length > 0) {
      current = current[current.length - 1];

      var currentA = tocNodes.filter(function (tocNode) {
        return tocNode.innerHTML == current.innerHTML;
      })

      currentA = currentA[0];
      if (currentA) {
        if (before == undefined) before = currentA;

        if (before != currentA) {
          before.classList.remove("toc-active");
          before = currentA;
        }

        currentA.classList.add("toc-active");
      }
      else {
        if (before)
          before.classList.remove("toc-active");
      }
    }
    else {
      if (before)
        before.classList.remove("toc-active");
    }

  }, false);
</script>



<!-- To change color of links in the page -->
<style>
  header#main {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

    {
    % if page.color %
  }

  .post-content a {
    color: {
        {
        page.color
      }
    }

     !important;
  }

  .share-buttons a {
    color: {
        {
        page.color
      }
    }

     !important;
  }

  .tag-list a:not(:hover) {
    color: {
        {
        page.color
      }
    }

     !important;
  }

  div#post-nav a {
    color: {
        {
        page.color
      }
    }

     !important;
  }

  footer a {
    color: {
        {
        page.color
      }
    }

     !important;
  }

  .site-header nav a:hover {
    color: {
        {
        page.color
      }
    }

     !important;
  }

  a.button:hover {
    background: {
        {
        page.color
      }
    }

     !important;

    border: 1px solid {
        {
        page.color
      }
    }

     !important;
    color: white;
    text-decoration: none;
    filter: none;
  }

  header#main {
    background-color: {
        {
        page.color
      }
    }

     !important;
    background-image: url('{{ site.color_image | relative_url }}');
  }

    {
    % endif %
  }

    {
    % if page.feature-img %
  }

  header#main {
    background-image: url('{{ page.feature-img | relative_url }}');
  }

    {
    % endif %
  }
</style>